[user]
	email = mrkscslr@gmail.com
	name = Markus Cisler
[core]
	autocrlf = input
[alias]
	a = add
	br = branch
	cm = commit
	co = checkout
	lg = log --all --graph --decorate --oneline --abbrev-commit
	p = push
	rem = remote
	st = status -sb
	up = "!git remote update -p; git merge --ff-only @{u}"
[color]
	branch = auto
	diff = auto
	grep = auto
	ui = true
[diff]
	tool = vimdiff
[push]
	default = simple
[grep]
	extendRegexp = true
	lineNumber = true
[github]
	user = bl1nk
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
