# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

beets/.config/beets/state.pickle
beets/.config/beets/library.blb
ncmpcpp/.ncmpcpp/error.log
zsh/.zsh/histfile
vim/.vim/bundle/*
zsh/.zsh/cache
!vim/.vim/bundle/Vundle.git
mpv/.mpv/watch_later/
nvim/.config/nvim/plugged/*
vim/.vim/plugged/*
plug.vim.old
spell
nvim/.config/nvim/shada
zsh/.zsh/secret.zsh
