! $HOME/.Xresources
! bl1nk - http://kuchen.io

!*fading:     40
!*fadeColor:  #080808
*background:  #080808
*foreground:  #808080
*color0:      #1a1a1a
*color8:      #404040
*color1:      #d75f5f
*color9:      #EA8484
*color2:      #87af5f
*color10:     #C7F09F
*color3:      #ffaf5f
*color11:     #FFCC9A
*color4:      #87afd7
*color12:     #a5caef
*color5:      #8787af
*color13:     #A6A6DE
*color6:      #5f8787
*color14:     #69b2b2
*color7:      #808080
*color15:     #d7d7d7

URxvt.font:                  -*-terminus-medium-*-*-*-12-*-*-*-*-*-*-*
URxvt.boldFont:              -*-terminus-bold-*-*-*-12-*-*-*-*-*-*-*
URxvt.perl-ext-common:       default,url-select,keyboard-select
URxvt.url-select.launcher:   chromium
URxvt.url-select.underline:  true
URxvt.keysym.C-i:            perl:url-select:select_next
URxvt.keysym.M-Escape:       perl:keyboard-select:activate
URxvt.urgentOnBell:          true
URxvt.utf8:                  1
URxvt.jumpScroll:            true
URxvt.multiScroll:           true
URxvt.borderless:            true
URxvt.scrollBar:             false
URxvt.cutNewline:            false
URxvt.scrollTtyOutput:       false
URxvt.scrollKey:             true
URxvt.colorBD:               #a0a0a0
URxvt.underlineColor:        #242424
URxvt.cursorBlink:           true
URxvt.cursorColor:           #0087af
URxvt.internalBorder:        5
URxvt.borderColor:           #080808

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint:   true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
